<%= form_for @container, :url => {:controller => "docker", :action => "create"} do |f| %>

  <div class="form-group"> 
    <%= f.label :name, class: 'control-label' %><br>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.label :image, class: 'control-label' %><br>
    <%= f.text_field :image, class: 'form-control' %>
    <%= f.label :SelectHost, class: 'control-label' %><br>
    <select id="bgOpacity" class="form-control" value="Select a Host">
            <% @hosts.each do |host| %>
                <option value="0.5"><%= host.name %></option>
            <% end %>
               
            </select>
    <span class="help-block"></span>
  </div>
  
  <div class="actions">
    <%= f.submit 'Create', class: 'btn btn-primary',id: 'load' %>
  </div>

<% end %>