							<% if flash[:notice] %> 
                             <div class="alert alert-success">
                               <button type="button" class="close" data-dismiss="alert">&times;</button>
                               <%= flash[:notice] %>
                             </div>
                             <% end %>

                              <% if flash[:error] %>
                             <div class="alert alert-success">
                               <button type="button" class="close" data-dismiss="alert">&times;</button>
                               <%= flash[:error] %>
                             </div>
                              <% end %>
               
               <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">
                            <% cname = @container.name %>
							<% trim = cname.slice!(0..7) %>
  							<%= cname.chomp[0...-1] %>
  						</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a href="dashboard.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                        <li class="hidden"><a href="#">Dashboard</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                        <li class="active">Dashboard</li>
                    </ol>
                    <div class="clearfix">
                    </div>
                </div>
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">
                    <div id="tab-general">
                        <div id="sum_box" class="row mbl">
                        <%= link_to start_container_docker_index_path(:id => @container.id), :method => :post, action: "start_container" do %>
                            <div class="col-sm-6 col-md-3">
                                <div class="panel profit db mbm">
                                    <div class="panel-body">
                                        
                                    <p class="description">START</p>


                                        
                                    </div>
                                </div>
                            </div>
                            <% end %>
                           <%= link_to stop_container_docker_index_path(:id => @container.id), :method => :post, action: "stop_container" do %>
                            <div class="col-sm-6 col-md-3">
                                <div class="panel profit db mbm">
                                    <div class="panel-body">
                                        
                                       <p class="description">STOP</p>
                                        
                                    </div>
                                </div>
                            </div>
                             <% end %>
                             <%= link_to restart_container_docker_index_path(:id => @container.id), :method => :post, action: "restart_container" do %>
                             <div class="col-sm-6 col-md-3">
                                <div class="panel profit db mbm">
                                    <div class="panel-body">
                                       <p class="description">RESTART</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <% end %>
                          
                            <%= link_to  docker_path, :method => :delete, :data => {:confirm => "You Sure?"}  do %>
 
                             <div class="col-sm-6 col-md-3">
                                <div class="panel profit db mbm">
                                    <div class="panel-body">
                                       <p class="description">DELETE</p>
                                        
                                    </div>
                                </div>
                            </div>
                             <% end %>
                                <%#= link_to  "#myModal", :data => {'data-toggle' => "modal"} do %>
                         <a href="#myModal" data-toggle="modal">
                             <div class="col-sm-6 col-md-3">
                                <div class="panel profit db mbm">
                                    <div class="panel-body">
                                       <p class="description">SHOW LOGS</p>
                                        
                                    </div>
                                </div>
                            </div>
                            </a>
                             
                             <%# end %>
                              
                        <%= render :partial => 'logs' %>
                        <a href="#processmodal" data-toggle="modal">
                             <div class="col-sm-6 col-md-3">
                                <div class="panel profit db mbm">
                                    <div class="panel-body">
                                       <p class="description">RUNNING PROCESS</p>
                                        
                                    </div>
                                </div>
                            </div>
                            </a>
                             
                             <%# end %>
                              
                        <%= render :partial => 'process' %>
                        </div>
                        <div class="row mbl">
                            <div class="col-lg-8">
                                <div class="panel">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <h4 class="mbs">
                                                    DOCKER EVENTS</h4>
                                                <p class="help-block">
                                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem...</p>
                                                <div id="area-chart-spline" style="width: 100%; height: 300px">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <h4 class="mbm">
                                                    Server Status</h4>
                                                <span class="task-item">CPU Usage (25 - 32 cpus)<small class="pull-right text-muted">40%</small><div
                                                    class="progress progress-sm">
                                                    <div role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                                        style="width: 40%;" class="progress-bar progress-bar-orange">
                                                        <span class="sr-only">40% Complete (success)</span></div>
                                                </div>
                                                </span><span>Memory Usage (2.5GB)<small class="pull-right text-muted">60%</small><div
                                                    class="progress progress-sm">
                                                    <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                                        style="width: 60%;" class="progress-bar progress-bar-blue">
                                                        <span class="sr-only">60% Complete (success)</span></div>
                                                </div>
                                                </span><span>Disk Usage (C:\ 120GB , D:\ 430GB)<small class="pull-right text-muted">55%</small><div
                                                    class="progress progress-sm">
                                                    <div role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"
                                                        style="width: 55%;" class="progress-bar progress-bar-green">
                                                        <span class="sr-only">55% Complete (success)</span></div>
                                                </div>
                                                </span><span>Domain (2/5)<small class="pull-right text-muted">66%</small><div class="progress progress-sm">
                                                    <div role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"
                                                        style="width: 66%;" class="progress-bar progress-bar-yellow">
                                                        <span class="sr-only">66% Complete (success)</span></div>
                                                </div>
                                                </span><span>Database (90/100)<small class="pull-right text-muted">90%</small><div
                                                    class="progress progress-sm">
                                                    <div role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                                                        style="width: 90%;" class="progress-bar progress-bar-pink">
                                                        <span class="sr-only">90% Complete (success)</span></div>
                                                </div>
                                                </span><span>Email Account (25/50)<small class="pull-right text-muted">50%</small><div
                                                    class="progress progress-sm">
                                                    <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                                        style="width: 50%;" class="progress-bar progress-bar-violet">
                                                        <span class="sr-only">50% Complete (success)</span></div>
                                                </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="portlet box">
                                    <div class="portlet-header">
                                        <div class="caption">
                                            STATUS</div>

                                    </div>
                                     <h4 class="mbm" id ="status_id"><%#= @container.status %></h4>
                                                                      
                            </div>
                        </div>
                        
                        
                    </div>
                </div>

<a href="#myModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Container Info</a>

 
<%= render :partial => 'cinfo' %>

<script>

var id = "<%= @container.id %>";
$( document ).ready(function() {
     setInterval(function () {call()}, 1000);
   
});

function call(){
console.log("demo");

    $.ajax({
        url: "/docker/"+id+".json",
        type: "GET",
        // dataType: 'json',
        // data:image,
        success: function(container){

            $("#status_id").html(container.status);
        },
       error: function (error) {
            // console.log(error);
         }
    });

}

</script>

