<!DOCTYPE html>
<html>
<head>
  <title>Cmanage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if params[:controller] == "docker" %>
<%= render :partial => 'layouts/header' %>
<% end %>
<% if params[:controller] == "host" %>
<%= render :partial => 'layouts/header' %>
<% end %>
 
<% if params[:controller] == "docker" %>
 
<%= render :partial => 'layouts/sidebar' %>
 
<% end %>

<% if params[:controller] == "host" %>
 
<%= render :partial => 'layouts/sidebar' %>
 
<% end %>

<div id="page-wrapper">
<%= yield %>
</div>

</body>
</html>
